<div class="container">
  <h1>Popug Tasks Tracker</h1>
  <a class="btn btn-outline-warning" href="<%= resend_data_path %>" role="button">Resend data</a>
</div>
<%= render template: 'common/_user_info' %>
<div name="managementActions" class="container">
  <% if @permissions.include? 'add_new_task' %>
    <h2>For management</h2>
    <%= form_with model: @new_task do |form| %>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-warning" type="submit">Add new task</button>
          </span>
            <input class="form-control" type="text" placeholder="Task description" name="<%= :description %>" id="<%= :description %>">
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @permissions.include? 'shuffle_open_tasks' %>
    <div class="mb-3">
      <a data-turbo-method="patch" class="btn btn-primary" href="<%= shuffle_path %>" role="button">Shuffle</a>
    </div>
  <% end %>
</div>
<div name="viewer" class="container">
  <h1>Open Tasks</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Description</th>
      <th scope="col">Assignee</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each_with_index do |task, i| %>
      <% if (@permissions.include? 'view_own_tasks' and task.assignee == current_user) or @permissions.include? 'view_all_tasks' %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td><%= task.description %></td>
          <td><%= task.assignee.name %></td>
          <td>
            <% if (@permissions.include? 'complete_own_tasks' and task.assignee == current_user) or @permissions.include? 'complete_all_tasks' %>
              <%= link_to "Complete", "/task/#{task.id}", data: { turbo_method: :patch } %>
            <% else %>
              Just watch
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>